rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /personnel/{document} {
      allow read, write: if true;
    }
    match /registrations/{document} {
      allow read, write: if true;
    }
  }
}
